**/__pycache__/
.vscode/
Logs/

# Exclude specific ROS2 folders
**/install
**/build
**/log

# Exclude Gazebo folders
#**/models

# Exclude PX4 and related packages
**/PX4-Autopilot
**/Micro-XRCE-DDS-Agent