[submodule "external/PX4-Autopilot"]
	path = external/PX4-Autopilot
	url = https://github.com/michailtam/PX4-Autopilot.git
[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "ultralytics"]
	path = ultralytics
	url = https://github.com/ultralytics/ultralytics.git
