**/__pycache__/
.vscode/
Logs/

# Exclude specific ROS2 folders
**/install
**/build
**/log

# Exclude Gazebo folders
#**/models

# Exclude specific PX4 folders
**/PX4-Autopilot
**/Micro-XRCE-DDS-Agent
**/px4_msgs
**/px4_ros_com
