<?xml version="1.0"?>

<robot name="uav" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Base link -->
    <gazebo reference="base_link">
        <material>${gazebo_grey}</material>
        <mu1>0.1</mu1>
        <mu2>0.1</mu2>
        <gravity>true</gravity>
    </gazebo>

    <!-- Front CCW --> 
    <gazebo reference="front_prop_ccw_link">
        <material>${gazebo_black}</material>
        <gravity>false</gravity>
        <self_collide>false</self_collide>
        <enable_wind>false</enable_wind>
    </gazebo>

    <!-- Front CW --> 
    <gazebo reference="front_prop_cw_link">
        <material>${gazebo_black}</material>
        <gravity>false</gravity>
        <self_collide>false</self_collide>
        <enable_wind>false</enable_wind>
    </gazebo>

    <!-- Back CCW --> 
    <gazebo reference="back_prop_ccw_link">
        <material>${gazebo_black}</material>
        <gravity>false</gravity>
        <self_collide>false</self_collide>
        <enable_wind>false</enable_wind>
    </gazebo>

    <!-- Back CW --> 
    <gazebo reference="back_prop_cw_link">
        <material>${gazebo_black}</material>
        <gravity>false</gravity>
        <self_collide>false</self_collide>
        <enable_wind>false</enable_wind>
    </gazebo>

    <!-- GPS module -->
    <gazebo reference="gps_module_link">
        <material>${gazebo_black}</material>
        <mu1>0.1</mu1>
        <mu2>0.1</mu2>
        <gravity>true</gravity>
    </gazebo>
    
    <!-- Depth camera -->
    <gazebo reference="depth_camera_link">
        <material>${gazebo_white}</material>
        <mu1>0.1</mu1>
        <mu2>0.1</mu2>
        <gravity>true</gravity>
        <sensor name="rgbd_cam" type="rgbd_camera">
            <camera>
                <horizontal_fov>1.5184</horizontal_fov>
                <image>
                    <width>600</width>
                    <height>480</height>
                    <format>RGB_INT8</format>
                </image>
                <clip>
                    <near>0.6</near>
                    <far>6.0</far>
                </clip>
            </camera>
            <always_on>1</always_on>
            <gz_frame_id>depth_camera_link</gz_frame_id>
            <topic>camera</topic>
            <update_rate>15.0</update_rate>
            <visualize>true</visualize>
        </sensor>
    </gazebo>

    <!-- Lidar sensor -->
    <gazebo reference="lidar_link">
        <material>${gazebo_dark_grey}</material>
        <mu1>0.1</mu1>
        <mu2>0.1</mu2>
        <gravity>true</gravity>
        <sensor name="laser_sensor" type="gpu_lidar">
            <pose>0 0 0 0 0 0</pose>
            <topic>scan</topic>
            <update_rate>50</update_rate>   <!-- 10 -->
            <always_on>true</always_on>
            <visualize>true</visualize>
            <gz_frame_id>lidar_link</gz_frame_id>
            <lidar>
                <scan>
                    <horizontal>
                        <!-- Based on technical specs -->
                        <samples>720</samples> 
                        <resolution>1</resolution>
                        <min_angle>-3.14159</min_angle>
                        <max_angle>3.14159</max_angle>
                    </horizontal>
                    
                    <!-- 2D Lidar settings -->
                    <vertical>
                        <samples>1</samples>
                        <resolution>1</resolution>
                        <min_angle>0.0</min_angle>
                        <max_angle>0.0</max_angle>
                    </vertical>
                    
                    <!-- 3D Lidar settings (PointCloud)-->
                    <!-- <vertical>
                        <samples>32</samples>
                        <min_angle>-0.5353</min_angle>
                        <max_angle>0.1862</max_angle>
                    </vertical> -->
                </scan>
                <range>
                    <min>0.15</min>                  
                    <max>6.0</max>                 
                    <resolution>0.001</resolution>
                </range>
            </lidar>
        </sensor>
    </gazebo>

    <!-- Plugin for sensor handling -->
    <gazebo>
        <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>
    </gazebo>

    <!-- Enables the communication with ros2_control -->
    <!-- <gazebo>
        <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="gz_ros2_control-system">
            <parameters>$(find uav_control)/config/uav_controllers.yaml</parameters>
        </plugin>
    </gazebo> -->

    <!-- Front CCW motor --> 
    <gazebo>
      <plugin filename="gz-sim-multicopter-motor-model-system" 
      name="gz::sim::systems::MulticopterMotorModel">
        <jointName>front_prop_ccw_joint</jointName>
        <linkName>front_prop_ccw_link</linkName>
        <turningDirection>ccw</turningDirection>
        <timeConstantUp>0.0125</timeConstantUp>
        <timeConstantDown>0.025</timeConstantDown> <!-- 8.54858e-06 -->
        <maxRotVelocity>1200</maxRotVelocity>
        <motorConstant>3.0e-05</motorConstant>
        <momentConstant>0.016</momentConstant>
        <commandSubTopic>command/motor_speed</commandSubTopic>
        <!-- <actuator_number>0</actuator_number> -->
        <motorNumber>0</motorNumber>
        <rotorDragCoefficient>8.06428e-05</rotorDragCoefficient>
        <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
        <!-- <motorSpeedPubTopic>motor_speed/0</motorSpeedPubTopic> -->
        <rotorVelocitySlowdownSim>30</rotorVelocitySlowdownSim>
        <motorType>velocity</motorType>
      </plugin>
    </gazebo>

    <!-- Back CCW motor --> 
    <gazebo>
      <plugin filename="gz-sim-multicopter-motor-model-system" 
      name="gz::sim::systems::MulticopterMotorModel">
        <jointName>back_prop_ccw_joint</jointName>
        <linkName>back_prop_ccw_link</linkName>
        <turningDirection>ccw</turningDirection>
        <timeConstantUp>0.0125</timeConstantUp>
        <timeConstantDown>0.025</timeConstantDown>
        <maxRotVelocity>1200</maxRotVelocity>
        <motorConstant>3.0e-05</motorConstant>
        <momentConstant>0.016</momentConstant>
        <commandSubTopic>command/motor_speed</commandSubTopic>
        <!-- <actuator_number>2</actuator_number> -->
        <motorNumber>1</motorNumber>
        <rotorDragCoefficient>8.06428e-05</rotorDragCoefficient>
        <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
        <!-- <motorSpeedPubTopic>motor_speed/2</motorSpeedPubTopic> -->
        <rotorVelocitySlowdownSim>30</rotorVelocitySlowdownSim>
        <motorType>velocity</motorType>
      </plugin>
    </gazebo>

    <!-- Front CW motor --> 
    <gazebo>
      <plugin filename="gz-sim-multicopter-motor-model-system" 
      name="gz::sim::systems::MulticopterMotorModel">
        <jointName>front_prop_cw_joint</jointName>
        <linkName>front_prop_cw_link</linkName>
        <turningDirection>cw</turningDirection>
        <timeConstantUp>0.0125</timeConstantUp>
        <timeConstantDown>0.025</timeConstantDown>
        <maxRotVelocity>1200</maxRotVelocity>
        <motorConstant>3.0e-05</motorConstant>
        <momentConstant>0.016</momentConstant>
        <commandSubTopic>command/motor_speed</commandSubTopic>
        <!-- <actuator_number>1</actuator_number> -->
        <motorNumber>2</motorNumber>
        <rotorDragCoefficient>8.06428e-05</rotorDragCoefficient>
        <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
        <!-- <motorSpeedPubTopic>motor_speed/1</motorSpeedPubTopic> -->
        <rotorVelocitySlowdownSim>30</rotorVelocitySlowdownSim>
        <motorType>velocity</motorType>
      </plugin>
    </gazebo>

    <!-- Back CW motor --> 
    <gazebo>
      <plugin filename="gz-sim-multicopter-motor-model-system" 
      name="gz::sim::systems::MulticopterMotorModel">
        <jointName>back_prop_cw_joint</jointName>
        <linkName>back_prop_cw_link</linkName>
        <turningDirection>cw</turningDirection>
        <timeConstantUp>0.0125</timeConstantUp>
        <timeConstantDown>0.025</timeConstantDown>
        <maxRotVelocity>1200</maxRotVelocity>
        <motorConstant>3.0e-05</motorConstant>
        <momentConstant>0.016</momentConstant>
        <commandSubTopic>command/motor_speed</commandSubTopic>
        <!-- <actuator_number>3</actuator_number> -->
        <motorNumber>3</motorNumber>
        <rotorDragCoefficient>8.06428e-05</rotorDragCoefficient>
        <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
        <!-- <motorSpeedPubTopic>motor_speed/3</motorSpeedPubTopic> -->
        <rotorVelocitySlowdownSim>30</rotorVelocitySlowdownSim>
        <motorType>velocity</motorType>
      </plugin>
    </gazebo>

</robot>